@import "tailwindcss";

@font-face {
  font-family: Incosolata;
  src: url(./Inconsolata.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: SNPro;
  src: url(./SNPro.woff2) format("woff2");
  font-display: swap;
}

@layer base {
  :focus-visible {
    outline: none; /* Désactive l'outline 'auto' par défaut */
  }
}

@layer components {
  .text-classic-m2 {
    @apply text-[10px] md:text-xs lg:text-sm xl:text-base 2xl:text-lg;
  }

  .text-classic-m1 {
    @apply text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl;
  }

  .text-classic {
    @apply text-sm md:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
  }

  .text-classic-p1 {
    @apply text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
  }

  .text-classic-p2 {
    @apply text-lg md:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  .text-classic-p3 {
    @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  .text-classic-p4 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  .text-classic-p4n2 {
    @apply text-2xl lg:text-4xl 2xl:text-6xl;
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-text: var(--text);
  --color-background: var(--background);

  --color-background-readme: var(--background-readme);
  --bgColor-default: var(--background-readme);

  --color-card: var(--card);
  --color-color-border: var(--color-border);

  --color-bgcircle-white: var(--bgcircle-white);
  --color-bgcircle-yellow: var(--bgcircle-yellow);
  --color-bgcircle-green: var(--bgcircle-green);
  --color-bgcircle-blue: var(--bgcircle-blue);
  --color-bgcircle-red: var(--bgcircle-red);

  --color-timeline-point: var(--timeline-point);
  --color-timeline-rod: var(--timeline-rod);

  --font-sans: "Incosolata";
}

:root {
  --background: #fcf6e8;
}

.dark {
  --text: #fcf6e8;
  --background: #050514;

  --background-readme: #212830;

  --card: rgb(180, 180, 255, 0.1);
  --color-border: rgb(255, 255, 255, 0.4);

  --bgcircle-white: radial-gradient(circle,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  --bgcircle-yellow: #FFAE00;
  --bgcircle-green: #1EFF00;
  --bgcircle-blue: #00AAFF;
  --bgcircle-red: #FF0004;

  --timeline-point: #dc4747;
  --timeline-rod: #ffffff60;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  background-color: var(--color-background);
  color: var(--color-text);
}

#app {
  position: relative; /* https://stackoverflow.com/a/14271049 */
  overflow: hidden;
}
